// https://flatuicolors.com/
// https://material.io/resources/color

$white-font: #ffffff;

$dark-font: #000000;
// British - ELECTROMAGNETIC
$background: #2f3640;
// ELECTROMAGNETIC X Light
$float-menu: #58606b;
// Green X 200 X Dark
$scrollbar: #75a478;
// Green X 200 X Light
$scrollbar-hover: #d7ffd9;
// Green X 200 X Light
$menu-header: #75a478;
// Green X 200
$menu: #a5d6a7;
// ELECTROMAGNETIC X Dark
$menu-list: #07101a;