// https://flatuicolors.com/
// British - LYNX WHITE
$font: #f5f6fa;
// Swedish- BLACK PEARL
$background: #1e272e;
// Swedish - GOOD NIGHT!
$float-menu: #485460;
// Spanish - GREY PORCELAIN
$scrollbar: #84817a;
// Spanish - CROCODILE TOOTH
$scrollbar-hover: #d1ccc0;
// Spanish - SPICED BUTTERNUT
$menu-header: #ffda79;
// Window - 스티커 메모
$menu: #333333;
// Spanish - LUCKY POINT
$menu-list: #2c2c54;