.field-wrap {
  display: flex;

  &.--direction-column {
    flex-direction: column;
  }

  &.--shrink-0 {
    flex-shrink: 0;
  }

  &.--grow-0 {
    flex-grow: 0;
  }

  .field {
    display: flex;
    flex: 1;
    gap: 10px;

    &.--shrink-0 {
      flex-shrink: 0;
    }

    &.--grow-0 {
      flex-grow: 0;
    }

    &.--end {
      justify-content: flex-end;
    }

    &.--start {
      justify-content: flex-start;
    }
  }
}